/*Global Animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  } 
  to
  {
    opacity:1;
    visibility: visible;
  }  
}

@keyframes slideDown {
    from {
    transform: translateY(-300px);
  } 
  to
  {
    transform: translateY(0px);
  }
  
}
@keyframes slideUp {
    from {
    transform: translateY(100%);
  } 
  to
  {
    transform: translateY(0%);
  }
  
}
/*Logo Animations*/
.index .brand--top {
  animation: fadeIn .4s, slideDown .4s;
  
}

/*Body Animations*/

.index .main {
  animation: slideUp .7s;
}

/*Button Animations*/
.btn {
  transition: all .3s;
}

/*Quiz Page Animations*/
.answer-link {
  transition: all .8s;
}
.answer-link.is-selected {
  transition: transform .25s;
  transform: scale(1.035);
}
/*Results Page*/

.character {
  visibility: hidden;
  opacity: 0;
  animation: fadeIn .5s;
}
.character-description {
  animation: fadeIn .8s 1s;
}

